html,
body {
    height: 100%;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace !important;
}

.navbar-container {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #000 !important;
    padding: 0% 2%;
}

.navbar-brand {
    color: #fff !important;
}


.navbar-nav>a {
    color: #fff !important;
}

.navbar-nav>a:hover {
    color: #fff !important;
}

#title {
    color: yellowgreen;
    font-size: 25px;
}

.header {
    width: 100%;
    height: 80%;
    background-image: url(header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .header-img {
    width: 100%;
    position: absolute;
    top: -25%;
    z-index: -1;
} */

.services {
    background-color: #000;
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 0% 5%;
}

.service-card {
    background-color: #fff;
    margin: 0% 2%;
    height: 100%;
    width: 21%;
    float: left;
    border-radius: 10px;
    border: 1px solid grey;
    transform: translateY(-60px);
    box-shadow: 0 25px 25px rgba(255, 255, 255, 0.5);
}

.service-card:hover {
    transform: translateY(-70px);
    box-shadow: 0 25px 25px rgba(255, 255, 255, 0.5);
}

.service-card > h3 {
	font-weight: bold;
}


/* Solo per schermi piccoli (tablet/mobile) */
@media (max-width: 768px) {
    .navbar-container {
        padding: 2%;
    }

    .header {
        background-image: url(header_mobile.png);
    }   

    .services {
        width: 100%;
        height: 60%;
        padding: 0% 5%;
        text-align: center;
    }

    .service-card {
        height: 40%;
        width: 40%;
        margin: -5% 5% 15% 5%;
        float: left;
    }
}
